<div *ngIf="group && editForm" class="container">
    <form [formGroup]="editForm" (ngSubmit)="edit()">
        <h2 class="text-center">{{ "Updating the group" | capitalizeFirst }}</h2>
        <div class="input-group">
            <label for="subject">Title</label>
            <input type="text" class="form-control" formControlName="subject">
            <p class="text-danger" *ngIf="subject.touched && subject.errors?.required">This field is required.</p>
        </div>
        <div class="input-group">
            <label for="description">Description</label>
            <textarea class="form-control" id="description" rows="7" formControlName="description"></textarea>
        </div>
        <div class="btn-group">
            <button type="submit" class="btn btn-primary" value="Updating">Updating</button>
            <button type="button" class="btn btn-danger" (click)="cancel()" value="Cancel">Cancel</button>
        </div>
    </form>
</div>