<div class="container" *ngIf="group">
    <div class="groups mt-4">
        <h2 class="header">{{ group.subject }}</h2>
        <ul class="groups-list">
            <li class="group-item">Owner: {{ group.userName }}</li>
            <li class="group-item d-flex justify-content-between">Users: {{ group.users?.length }}
                <button class="btn btn-outline-primary" value="Show all">Show all</button>
            </li>
            <li class="group-item d-flex justify-content-between">
                <span>Description: </span>
                <span>{{ group.description ? group.description : 'No'  }}</span>
            </li>
            <li class="group-item d-flex justify-content-between">
                <span>Email:</span>
                <span>{{ group.email ? group.email : 'No' }}</span>
            </li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="mt-2 btn btn-outline-primary" (click)="listAll()">Show all</button>
        <button class="mt-2 ml-2 btn btn-outline-danger" (click)="back()">Back</button>
        <button *ngIf="!group.isJoined" class="mt-2 ml-2 btn btn-outline-success" (click)="join()">Join to this group</button>
        <button *ngIf="group.isJoined" class="mt-2 ml-2 btn btn-outline-danger" (click)="exit()">Exit to this group</button>
        <button *ngIf="group.isMy" class="mt-2 ml-2 btn btn-outline-warning" (click)="edit()">Edit</button>
        <button *ngIf="group.isMy" class="mt-2 ml-2 btn btn-outline-danger" (click)="onDismiss()">Dismiss</button>
    </div>
</div>
<app-dismiss-group *ngIf="onDismissing" (onDismiss)="dismissing($event)"></app-dismiss-group>