<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <app-list-all-friends (onSelect)="selectedFriend($event)" (onUpdated)="updatingMyRequests($event)" [friends]="friends"></app-list-all-friends>
        </div>
        <div class="col-lg-4 p-2 pt-3">
            <div *ngIf="currentFriend else unselectedUser">
                <h4>
                    <span [ngClass]="{'live-on': currentFriend?.liveOn, 'live-off': !currentFriend?.liveOn}">🔴</span>
                    {{ currentFriend?.userName }}
                </h4>
                <ul #scroll class="list-messages">
                    <li *ngFor="let msg of messages" [ngClass]="{'msg-my': msg.senderId == user.id, 'msg-friend': msg.senderId != user.id}">
                        <span><span *ngIf="msg.senderId == user.id">{{msg.senderUserName}}</span><span *ngIf="msg.receiverId == user.id">{{msg.senderUserName}}</span> - {{ msg.content }}</span>
                    </li>
                </ul>
                <form [formGroup]="chatForm" class="d-flex justify-content-between">
                    <input autofocus type="text" class="w-100" formControlName="text" [ngClass]="{'border border-danger': text.errors?.danger}">
                    <button class="btn-primary" (click)="send()">Send</button>
                </form>
            </div>
        </div>
        <div class="col-lg-4">
            <app-list-all-my-requests [myRequests]="updatedMyRequests"></app-list-all-my-requests>
            <app-list-all-requests (onUpdated)="updatingFriends($event)"></app-list-all-requests>
        </div>
    </div>
</div>
<ng-template #unselectedUser>
    <p class="text-center">Select any friend to chat!</p>
</ng-template>