<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <app-list-all-friends></app-list-all-friends>
        </div>
        <div class="col-lg-4 p-2 pt-3">
            <h4>Chat with: {{ friend.userName }}</h4>
            <ul class="list-messages">
                <li *ngFor="let msg of messages" [ngClass]="{'msg-my': user.userName==msg.userName, 'msg-friend': user.userName!=msg.userName}">{{ msg.userName }} - {{ msg.content }}</li>
            </ul>
            <form [formGroup]="chatForm" class="d-flex justify-content-between">
                <input type="text" class="w-100" formControlName="text">
                <button class="btn-primary" (click)="send()">Send</button>
            </form>
        </div>
    </div>
</div>