<div class="container">
    <div class="row my-4">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="card shadow rounded">
                <div class="card card-header">
                    <h4 class="text-center">User</h4>
                </div>
                <div class="card-body">
                    <ul *ngIf="user">
                        <li>
                            <span>User name</span>
                            <span>{{ user.userName ? user.userName : "No information" }}</span>
                        </li>
                        <li>
                            <span>Email</span>
                            <span>{{ user.email }}</span>
                        </li>
                        <li>
                            <span>Age</span>
                            <span *ngIf="user.age else addTemp">{{ user.age }}</span>
                        </li>
                        <li>
                            <span>City</span>
                            <span *ngIf="user.city else addTemp">{{ user.city }}</span>
                        </li>
                        <li>
                            <span>Country</span>
                            <span *ngIf="user.country else addTemp">{{ user.country }}</span>
                        </li>
                        <li>
                            <span>Education</span>
                            <span *ngIf="user.education else addTemp">{{ user.education }}</span>
                        </li>
                        <li>
                            <span>HighSchool</span>
                            <span *ngIf="user.highSchool else addTemp">{{user.highSchool }}</span>
                        </li>
                        <li>
                            <span>Job</span>
                            <span *ngIf="user.job else addTemp">{{ user.job }}</span>
                        </li>
                        <li>
                            <span>Previous job</span>
                            <span *ngIf="user.previousJob else addTemp">{{ user.previousJob }}</span>
                        </li>
                        <li>
                            <span>Skills</span>
                            <span *ngIf="user.skills else addTemp">{{ user.skills }}</span>
                        </li>
                        <li>
                            <span>University</span>
                            <span *ngIf="user.university else addTemp">{{ user.university }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>
<ng-template #addTemp>
    <button class="btn btn-link btn-sm">Add</button>
</ng-template>