<div class="groups mt-4">
  <h4 *ngIf="friends" class="header">Friends {{ friends.length }}</h4>
  <ul *ngIf="friends.length > 0" class="groups-list">
    <a *ngFor="let friend of friends" class="group-item" (click)="selectFriend(friend.userId)" routerLink="/users/chat/{{friend?.userId}}">{{ friend?.userName }}</a>
  </ul>
  <div class="m-2 text-center">
    <p *ngIf="friends.length === 0">No friends</p>
    <button (click)="fintFriends()" class="btn btn-primary">Find friends</button>
    <button routerLink="/users/chat" class="mx-2 btn btn-primary">Chat room</button>
  </div>
  <ul class="groups-list">
    <li class="group-item d-flex justify-content-between align-items-center" *ngFor="let user of users">{{ user.userName }}
      <div *ngIf="user.userId != logedUser.id && !user.isFriends">
        <button *ngIf="!user.isRequested else requested" (click)="addRequest(user.userId)" class="btn btn-link">Add friend</button>
      </div>
      <p *ngIf="user.userId == logedUser.id">You</p>
      <p *ngIf="user.isFriends">Friends</p>
    </li>
  </ul>
</div>
<ng-template #requested>
  <p>Sended request</p>
</ng-template>