<nav>
    <div class="container">
        <ul>
            <a routerLink="/">Chater</a>
            <li *ngIf="usersService.isAuthenticated">
                <a [routerLink]="['/groups/add']">Create group</a>
            </li>
        </ul>
        <div>
            <ul *ngIf="!usersService.isAuthenticated else authenticated">
                <li>
                    <a routerLink="/auth/login">Login</a>
                </li>
                <li>
                    <a routerLink="/auth/register">Register</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<ng-template #authenticated>
    <ul>
        <li>
            <a routerLink="/users/register">Hello, {{ usersService.getUserData.userName }}</a>
        </li>
        <li>
            <a class="logout" routerLink="/" (click)="logout()">Logout</a>
        </li>
    </ul>
</ng-template>